.header {

   
    text-align: right;
height:6%;
    width: 100%;
    background-color:#1a1414;
    color: #fff;
}
            html, body {
                background-color:  rgb(247, 243, 243);
                color: black;
                font-family: 'Nunito', sans-serif;
                font-weight: 200;
                height: 100vh;
                margin: 0;
            }
            ul {
 padding:0;
 margin:0;
 list-style-type:none;
 }
li {
 margin-right:5px;
 float:left;
 padding:10px; 
 }
.login li
{
 margin-right:5px;
 float:right;
 padding:10px; 
 }
 .login li a
{
 color: black;
 }
 @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);
 .footer-distributed{
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

/* ADVANCED SEARCH */

.advanced{
    border: 1px solid #1F497D;
    border-radius: 4px;
    padding: 10px 30px;
}
fieldset legend
{
   background: #467dc0;
   font-size: 15px;
   color: black;
    padding: 5px 10px ;
    border-radius: 5px;
    box-shadow: 0 0 0 2px #ddd;
 text-align-last: center;
}
 label{
color: black;
}
.advanced input{
   height: 30px;
   border: 0;
   background-color: rgb(235, 230, 230) ;
}
.advanced select{
   height: 30px;
   background-color: rgb(235, 230, 230) ;
   border: 0;


}
input[type=text]:focus{
  outline: 1px solid #467dc0;     /* oranges! yey */
}
select:focus{
outline: 1px solid #467dc0;     /* oranges! yey */
}
/* GENDER RADIO DESIGN */
.gender {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.gender input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: rgb(228, 224, 224) ;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.gender :hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.gender input:checked ~ .checkmark {
  background-color: #467dc0;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.gender input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.gender .checkmark:after {
 	top: 6px;
	left: 6px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

/* CSS OF ADVANCED SEARCH S BUTTON */
.contain{
  width:250px;
  height:20px;
  margin: 10% auto;
  color:#467dc0;
  font-size:1rem;
  font-family:Arial,Helvetica Neue,Helvetica,sans-serif;
  
  }

.button{
  background-color: white;
  font-size:1.5rem;
  border:2px solid #467dc0;
  border-radius:100px;
  width:40px;
  height:40px;
  padding:5px;
  margin: 10% auto;
  transition: .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
 
}

.icon{
 position: relative;
  top: 50%;
  transform: translateY(-50%);
 text-align:center;
  
}


.button:hover{
  width:125px;
  background-color:#467dc0;
   box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
  transition:.3s;
  color: white;
}

.button:active{
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
  transition: .05s
}
/* NAV BAR search */
.search {
    
    height: 40px;
    background-color: rgb(235, 230, 230) ;
    padding: 2px;
    border-radius: 5px;
}

.search-input {
    color: white;
    border-radius: 8px;
    border: 0;
    outline: 0;
    background:  rgb(235, 230, 230) ;
    width: 300px;
    margin-top: 2px;
    caret-color: transparent;
    line-height: 30px;
    transition: width 0.4s linear
}


.search .search-input {
  background:  rgb(235, 230, 230) ;

  border: 0;
    padding: 0 10px;
    width: 250px;
    caret-color: transparent;
    font-size: 16px;
    font-weight: 100;
    color: grey;
    transition: width 0.4s linear
}

.search:hover>.search-icon {
    background: #1A237E;
    color: #fff
}

.search-icon {

    height: 35px;
    border: 0;
    width: 35px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #467dc0;
}

a:link {
    text-decoration: none
}
nav{
  box-shadow: 0px 0px 10px #cac9e7;

}

li a{
  color: black;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* CSS OF PROMOTION PHOTO  */
.parent{
    position: relative;

}
.image2 {
    position: absolute;
    left: 0%;
    height: 70px;
}
.mySlide {
   display: none;
   border-radius: 5px;

  }

  div h4{
    color: black;
align-self: center;
  }
  div#product {
   display: inline-block;
   text-align: center;
}
div#product img
{
  border-radius: 5%;
}

  /***************** Css of add to cart***************/
  .btn-glyphicon {
    padding:8px;
    background:#ffffff;
    margin-right:4px;
}
.btn.icon-btn {
    padding: 1px 15px 3px 2px;
    border-radius:50px;
}
    #example1 {
overflow: hidden;
padding: 20px;

box-shadow: 0px 0px 10px #cac9e7;
}
    #content .box
{
    position: relative;
    border: 1px solid #262626;
    min-height: 35px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #262626;
    text-transform: uppercase;
    font-size: 18px;
    transition: 0.5s;
    background-color: rgb(247, 243, 243);
}
#content .box:before
{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: rgb(247, 243, 243);;
    border: 1px solid #262626;
    box-sizing: border-box;
    border-left-color: transparent;
    border-top-color: transparent;
    transition: 0.5s;
}
#content .box:nth-child(1):before
{
    right: -5px;
    transform: rotate(315deg);
}

/******************** CSS OF the slider carousel************/

 
#wrapper{
  width: 100%;
  border-radius: 2px;
}
.carousel{
  max-width: 500px;
  margin: auto;
  padding: 0 30px;
}
.carousel .card{
    height: 160px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
}

.owl-dots{
  text-align: center;
  margin-top: 40px;
}
.owl-dot{
  height: 0;
  width: 0;
  margin: 0 5px;
  outline: none;
  border-radius: 14px;
  border: 0 solid #0072bc!important;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}
.owl-dot.active,
.owl-dot:hover{
  background: #0072bc!important;
}
/********************** Css OF Parfum Sizes  ***********/
 #bottles{
     border: 1px solid;

 }
 /********************* CSS of Button sizes*****************/
 .btn1-glyphicon {
    padding:8px;
    background:#ffffff;
    margin-right:4px;
}
.btn.icon1-btn {
    padding: 1px 15px 3px 2px;
    border-radius:50px;
    width: 36px;
}


/* CSS OF ADD QUANTITY INPUT */
.qte{
width: 140px;
  }

   .btn-number:focus{
outline: none; 
border: 0;
border-color: brown;
 }
